@charset "utf-8";
body  {
	font: 100% Georgia, 'Times New Roman', Times, serif;
	background: #1a1b52;
	margin: 0; 
	padding: 0;
	color: #fff;
}

h1, h2, h3 {
	color: #ffad00;
}

h1 {
	font-size: 225%
}

h2 {
	font-size: 175%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 135%;
}

#container { 
	width: 100%;
	text-align: left;
	font-size: 80%;
} 

#header { 
	background: #fff url(../images/logo_background.gif) no-repeat right top;
	border-bottom: 1px solid #9290bf;
} 

#header h1 {
	display: none;
}

#header img {
	margin: 31px 0 31px 40px;
}

#header ul {
	margin: 0;
	padding: 0 0 0 28px;
	list-style: none;
	background-image: linear-gradient(#ffcc08, #ffad00);
	float: left;
	width: 100%;
	border-bottom: 1px solid #575691;
	box-sizing: border-box;
}

#header li {
	font-size: 110%;
	float: left;
}

#header li a {
	float: left;
	display: block;
	padding: 8px 12px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

#header li a:hover, #header li a:active, #header li a:focus {
	color: #1b1a52;
}

.living #living a, 
.business #business a, 
.chamber #chamber a {
	color: #1a1b52;
	font-weight: bold;
}

#header li#living {
	padding-left: 28px;
}

a img {
	border: 0;
}

#mainWrap {
	background-image: linear-gradient(#6e6ea4, #403d82 252px);
	padding-bottom: 20px;
	border-bottom: 10px solid #36357d;
}

#sidebar1 {
	float: left;
	width: 23%; 
	padding: 15px 0; 
	background: url(../images/side1_back.jpg) no-repeat right top;
	min-height: 145px;
}

#sidebar2 {
	float: right; 
	width: 23%; 
	padding: 15px 0; 
	background: url(../images/side2_back.jpg) no-repeat right top;
}

#sidebar2 img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#sidebar1 ul {
	font-size: 105%;
	margin: 15px 35px 0 0;
	padding: 0px;
	list-style: none;
}

#sidebar1 li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 5px 0px 5px 40px;

}

#sidebar1 li a:hover,
#sidebar1 li a:active,
#sidebar1 li a:focus {
	color: #ff9f00;
}

.visiting #visiting a,
.moving #moving a,
.maplocator #maplocator a,
.directory #directory a { 
	background: url(../images/arrow.gif) no-repeat left center;
	color: #ff9f00;
}



#sidebar2 p, #sidebar2 h3 {
	margin-left: 10px;
	margin-right: 30px;
}

#mainContent { 
	margin: 0 24% 0 23.5%;
	padding-top: 10px;
	background: url(../images/main_back.jpg) no-repeat right top;
	padding-right: 100px;
}

#mainContent ul, #mainContent ol {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	color: #fff;
}

#mainContent ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#mainContent li {
	background: url(../images/arrow.gif) no-repeat left
	center; padding-left: 115px
}

#footer { 
	padding: 0 10px;
	border-top: 10px solid #2d2d70;
} 

#region {
	text-decoration: underline;
	background: url(../images/arrow.gif) no-repeat left center;
	padding-left: 20px;
	color: #fff;
}

#footer p {
	margin: 0;
	padding: 10px 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #5c5a99;
	width: 59%;
}

#footer ul {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 39%;
	list-style: none;
}

#footer li {
	float: left;
	margin-left: 10px;
}

#footer li a {
	display: inline;
	padding: 10px;
	color: #5c5a99;
	text-decoration: none;
}

#footer li a:hover, 
#footer li a:active, 
#footer li a:focus {
	color: #ff9f00;
	display: inline-block;
	padding: 10px;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

.fltrt {
	float: right;
	margin-left: 8px;
}

.fltlft {
	float: left;
	margin-right: 8px;
}

.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}