/* Layout */

/* Nav */
.navbar {
    &-navigation {
        display: flex;
        position: relative;
        z-index: 25;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            left: -50vw;
            transition: left 0.7s ease-in-out;
        }

        .left-img {
            width: 300px;
            position: absolute;
            border-radius: 15px;
            box-shadow: 0 15px 40px rgba($color-black, 0.5);
            opacity: 0.8;
            
            &-1 {
                top: 15%;
                left: 15%;
            }

            &-2 {
                top: 35%;
                left: 25%;
            }

            &-3 {
                top: 55%;
                left: 35%;
            }

        }

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: darken($color-dark, 5%);
            position: fixed;
            right: -50vw;
            @include flexLayout;
            transition: right 0.7s ease-in-out;
        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-family: $font-Marck;
                font-size: 50px;
                @include textStyles(capitalize);
                color: $color-secondary;
                text-decoration: none;
                display: block;
                text-align: center;
                margin: 20px;
                transition: all 0.7s;

                &:hover {
                    color: $color-primary;
                    letter-spacing: 5px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .navbar-navigation-left,
        .navbar-navigation-right {
            width: 50.5%;
            height: 100vh;
        }

        .navbar-navigation-left {
            left: -100%;
        }

        .navbar-navigation-right {
            right: -100%;
            z-index: 100;
        }

        .nav-list-link {
            font-size: 50px;
            margin: 15px 0;
        }

        .left-img {
            &-1 {top: 10%; left: 5%;}
            &-2 {top: 30%; left: 10%;}
            &-3 {top: 50%; left: 15%;}
        }
    }

    @media screen and (max-width: 480px) {
        .navbar-navigation-right {
            width: 100%;
            height: 100vh;
            opacity: 0.95;
        }

        .navbar-navigation-left {
            width: 0%;
            height: 100vh;
        }

        .nav-list-link {
            font-size: 50px;
            margin: 30px 0;
        }

        .left-img {
            &-1 {display: none;}
            &-2 {display: none;}
            &-3 {display: none;}
        }
    }
}

/* Header */
.header {
    color: $color-white;
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.4)), url(../images/bg.jpg) no-repeat center;
    background-size: cover;

    .brand {
        @include centering(15%);
        display: flex;
        align-items: center;
    }

    &-banner {
        @include centering(50%)
    }

    @media screen and (max-width: 768px) {
        .header {
            height: 70vh;   // pienetää headerin korkeutta
        }

        .brand {
            flex-direction: column;     // muokkaa tekstin ja logon menemään päällekkäin
            align-items: center;
        }
    }

    @media screen and (max-width: 480px) {
        padding-top: 50px;
    }
}

/* Layout */ 
.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    &-left {
        width: 40%;
        position: relative;

        img {
            width: 100%;
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;

        .stars {
            margin: 30px 0;
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 10px;
        }

        .description {
            font-family: $font-Roboto;
            font-size: 20px;
            font-style: italic;
            color: $color-secondary;
            text-align: justify;

            &::first-letter {
                padding-left: 20px;
                font-size: 28px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        height: auto;
        flex-direction: column;     // keskittää kuvan ja tekstin allekkain
        padding: 20px;

        &-left,
        &-right {
            width: 50%;
            padding: 20px;
        }

        .about-us-right {
            width: 80%;
        }
    }

    @media screen and (max-width: 480px) {
        .main-btn {
            display: block;
            margin: auto 20px;
            align-self: center;
        }

        .about-us-right {
            width: 80%;
        }

        .about-us-right .description {
            text-align: left;
            line-height: 1.5;
        }
    }
}

/* Gallery */ 
.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 768px) {
        .gallery .cards-wrapper {
            flex-direction: column;
        }

        .card {
            width: 50%;
            max-width: 50%;
            height: 50%;
            max-height: 50%;
        }
    }

    @media screen and (max-width: 480px) {
        .cards-wrapper {
            flex-direction: row;
        }

        .card {
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
        }
    }
}

/* Footer */
.footer {
    padding: 70px 0;
    @include flexLayout;
    flex-direction: column;

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    .social-media {
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 70px;

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size: 50px;
            color: $color-primary;
            transition: color 0.5s;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    &-copyright-paragraph {
        font-family: $font-Roboto;
        font-size: 18px;
        color: $color-secondary;
        @include textStyles(capitalize)
    }

    @media screen and (max-width :768px) {
        .footer-header {
            flex-direction: column;
            align-items: center;
            margin-bottom: 25px;
            padding: 5px;
        }
    }

    @media screen and (max-width: 480px) {
        .footer-copyright-paragraph {
            padding-left: 10px;
        }

        .footer-header {
            flex-direction: column;
            align-items: center;
            margin-bottom: 25px;
            padding: 5px;
        }

        .footer-social-media {
            margin-top: 15px;
        }
    }
}