/* Variables */
/* Base */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #303030;
}

.card-overlay, .card-img, .hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

/* Layout */
/* Nav */
.navbar-navigation {
  display: flex;
  position: relative;
  z-index: 25;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #303030;
  position: fixed;
  left: -50vw;
  transition: left 0.7s ease-in-out;
}
.navbar-navigation .left-img {
  width: 300px;
  position: absolute;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
.navbar-navigation .left-img-1 {
  top: 15%;
  left: 15%;
}
.navbar-navigation .left-img-2 {
  top: 35%;
  left: 25%;
}
.navbar-navigation .left-img-3 {
  top: 55%;
  left: 35%;
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: rgb(35.25, 35.25, 35.25);
  position: fixed;
  right: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.7s ease-in-out;
}
.navbar-navigation .nav-list-item {
  list-style: none;
}
.navbar-navigation .nav-list-link {
  font-family: "Marck Script", cursive;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #ccc;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 20px;
  transition: all 0.7s;
}
.navbar-navigation .nav-list-link:hover {
  color: #d8ae53;
  letter-spacing: 5px;
}
@media screen and (max-width: 768px) {
  .navbar .navbar-navigation-left,
  .navbar .navbar-navigation-right {
    width: 50.5%;
    height: 100vh;
  }
  .navbar .navbar-navigation-left {
    left: -100%;
  }
  .navbar .navbar-navigation-right {
    right: -100%;
    z-index: 100;
  }
  .navbar .nav-list-link {
    font-size: 50px;
    margin: 15px 0;
  }
  .navbar .left-img-1 {
    top: 10%;
    left: 5%;
  }
  .navbar .left-img-2 {
    top: 30%;
    left: 10%;
  }
  .navbar .left-img-3 {
    top: 50%;
    left: 15%;
  }
}
@media screen and (max-width: 480px) {
  .navbar .navbar-navigation-right {
    width: 100%;
    height: 100vh;
    opacity: 0.95;
  }
  .navbar .navbar-navigation-left {
    width: 0%;
    height: 100vh;
  }
  .navbar .nav-list-link {
    font-size: 50px;
    margin: 30px 0;
  }
  .navbar .left-img-1 {
    display: none;
  }
  .navbar .left-img-2 {
    display: none;
  }
  .navbar .left-img-3 {
    display: none;
  }
}

/* Header */
.header {
  color: #FFF;
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../images/bg.jpg) no-repeat center;
  background-size: cover;
}
.header .brand {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}
.header-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .header .header {
    height: 70vh;
  }
  .header .brand {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding-top: 50px;
  }
}

/* Layout */
.about-us {
  height: 90vh;
  display: flex;
  align-items: center;
}
.about-us-left {
  width: 40%;
  position: relative;
}
.about-us-left img {
  width: 100%;
}
.about-us-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
  box-sizing: border-box;
}
.about-us-right .stars {
  margin: 30px 0;
}
.about-us-right .star {
  font-size: 15px;
  color: #d8ae53;
  margin-left: 10px;
}
.about-us-right .description {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #ccc;
  text-align: justify;
}
.about-us-right .description::first-letter {
  padding-left: 20px;
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .about-us {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }
  .about-us-left, .about-us-right {
    width: 50%;
    padding: 20px;
  }
  .about-us .about-us-right {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .about-us .main-btn {
    display: block;
    margin: auto 20px;
    align-self: center;
  }
  .about-us .about-us-right {
    width: 80%;
  }
  .about-us .about-us-right .description {
    text-align: left;
    line-height: 1.5;
  }
}

/* Gallery */
.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .gallery .gallery .cards-wrapper {
    flex-direction: column;
  }
  .gallery .card {
    width: 50%;
    max-width: 50%;
    height: 50%;
    max-height: 50%;
  }
}
@media screen and (max-width: 480px) {
  .gallery .cards-wrapper {
    flex-direction: row;
  }
  .gallery .card {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
}

/* Footer */
.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.footer .social-media {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 70px;
}
.footer .social-media-item {
  list-style: none;
}
.footer .social-media-link {
  text-decoration: none;
  font-size: 50px;
  color: #d8ae53;
  transition: color 0.5s;
}
.footer .social-media-link:hover {
  color: #ccc;
}
.footer-copyright-paragraph {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #ccc;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media screen and (max-width: 768px) {
  .footer .footer-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .footer .footer-copyright-paragraph {
    padding-left: 10px;
  }
  .footer .footer-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    padding: 5px;
  }
  .footer .footer-social-media {
    margin-top: 15px;
  }
}

/* Components */
.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 50;
}
.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu .menu-line {
  width: 100%;
  height: 3px;
  background-color: #d8ae53;
  transform-origin: right;
  transition: all 0.5s 0.5s;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotate(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotate(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotate(40deg);
}

.logo {
  font-size: 70px;
  color: #d8ae53;
  display: block;
  width: 110px;
  height: 110px;
  text-decoration: none;
  border: 4px solid #d8ae53;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-name {
  font-family: "Marck Script", cursive;
  font-size: 50px;
  color: #ccc;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: none;
}

.sub-name {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #ccc;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main-heading {
  font-family: "Marck Script", cursive;
  font-size: 100px;
  font-weight: 300;
  color: #d8ae53;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main-heading {
    font-size: 60px;
    margin-bottom: 20px;
  }
}

.sub-heading {
  font-family: Roboto, sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #ccc;
  margin-bottom: 80px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .sub-heading {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.main-btn {
  width: 200px;
  height: 45px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ccc;
  background-color: transparent;
  border: 1px solid #d8ae53;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  display: block;
  margin: 0 auto;
}
.main-btn:hover {
  background-color: #d8ae53;
  color: #303030;
}

/* Cards */
.card {
  width: 33.33333%;
  height: 33.33333vw;
  position: relative;
  overflow: hidden;
}
.card:hover .card-overlay {
  left: 0;
}
.card-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(216, 174, 83, 0.6);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  transition: left 0.5s;
}
.card-overlay-heading {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.card-overlay-paragraph {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 30px;
}
.card-overlay-btn {
  width: 150px;
  height: 40px;
  color: #d8ae53;
  background-color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #d8ae53;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .card .card-overlay-heading {
    font-size: 40px;
  }
  .card .card-overlay-paragraph {
    font-size: 25px;
  }
}