body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  background-image: url(../images/bg.jpg);
  background-repeat: repeat-x;

}

.wrapper {
  background-color: #fff;
  color: #000;
  margin: 30px 40px 30px 40px;
  padding: 10px;

}

.header img {
  width: 500px;

}

.tagline {
  font-weight: bold;
  background-color: #fff;
  color: #050845;
  font-style: italic;
  margin: 0;
  padding: 0 0 0 10px;
  float: left;

}

.header-bottom ul {
  margin: 0;
  padding: 0 30px 0 0;
  text-align: right;

}

.header-bottom li {
  display: inline;
  background-color: #fff;
  color: #050845;

}

.header-bottom {
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
  padding: 5px;
  
}

.mainfeature {
  background-image: url(../images/mainimg.jpg);
  background-repeat: repeat-y;
  background-color: #00a0d0;
  color: white;
  padding: 2em 2em 1em 250px;

}

.mainfeature .star {
  position: absolute;
  top: 30px;
  left: 30px;

}

.mainfeature p {
  font-size: 110%;

}

.mainfeature p.more {
  margin-top: 0;
  text-align: right;

}

.mainfeature a {
  color: white;

}

.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 10px;

}

.content {
  margin: 0 240px 0 0;
  border: 1px solid #b9d2e3;
  background-color: white;
  color: black;

}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  background-color: #00a0d0;
  color: white;
  margin: 0;
  padding: 0;

}

.sidebar .inner {
  padding: 10px;

}

.sidebar a {
  color: white;

}

.content .inner .features li img {
  float: left;
  margin: 0 5px 5px 0;

}